<h1>Listing spirits</h1>
<br/>
<a href="#/new">New Spirit</a>
<br/>
<br/>
<table id="spirits-table" class="zebra-striped">
  <tr>
    <th>Category</th>
    <th>Name</th>
    <th>Base</th>
    <th>Methodology</th>
    <th>Age</th>
    <th>Proof</th>
    <th>Producer</th>
    <th>Location</th>
    <th>Miscellaneous</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>
